doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Aplicaciones de integrales
		meta(name="description", content="Aplicación de integrales para el cálculo de áreas y resolución de ecuaciones diferenciales.")
		meta(name="keywords", content="integrales, áreas, cálculo de áreas, ecuación diferencial, separación de variables")
		link(rel="stylesheet", href="/style/diapositivas.css")
		script(src="/utils/geogebra.js") 
	body 
		.diapositivas 
			.diapo 
				h1 Área debajo de una curva $ f(x) $
				.col-2
					div
						h2 Propiedad 
						p Sea \( f(x) \) una función integrable tal que \( f(x)\gt 0, \forall x\in(a,b). \)
						p El area contenida entre la función \( f(x) \) y el eje horizontal para los \( x\in[a,b] \) es 
						p \[ A=\int_a^b f(x)dx \]
						.comentario 
							h3 Nota 
							ul 
								li La propiedad es consecuencia de la definición de integral.
								li En el caso de \( f(x)\lt 0, \forall x \in (a,b) \), las alturas en la definición de integral de las sumas superiores e inferiores son negativas. En ese caso el área buscada es  \[ A=\int_a^b-f(x)dx \]
								li Cuando la función cambia de signo dentro del intervalo \( (a,b) \) debe partirse en intervalos menores donde se conserve el signo.
			
					figure 
						#AreaBajoCurva
						script(src="areaBajoCurva.js") 
						figcaption Representación del área entre la función \( f(x) \) y el eje horizontal para los \( x\in[-3,-1]. \)
			.diapo 
				h1 Área entre funciones
				.col-2 
					div
						h2 Propiedad
						p Sean \( f(x) \) y \( g(x) \) dos funciones integrables tal que \( f(x)\gt g(x),\forall x\in (a,b). \)
						p El área contenida entre las dos funciones para los \( x\in[a,b] \) es 
						p \[ A=\int_a^b \underbrace{f(x)}_\text{techo}-\underbrace{g(x)}_\text{piso} dx \]
					
						.comentario 
							h3 Nota
							ul
								li Cuando las funciones en el intervalo \( (a,b) \) intercambian los papeles de techo y piso ( cuando \( g(x)\gt f(x) \)) debe partirse en intervalos menores donde las funciones conserven sus roles.
								li Si las funciones \( f(x) \) y \( g(x) \) son continuas en \( (a,b), \) los lugares donde intercambian entre piso y techo corresponden con los puntos de intersección \( f(x)=g(x). \)
								li El eje \( x \) puede representarse por la función \( h(x)=0. \)
					

					figure 
						#AreaEntreCurvas 
						script(src="AreaEntreCurvas.js") 
						figcaption Área entre las funciones \( f(x) \) y \( g(x) \) para los \( x\in[1,3]. \) Los puntos interiores del área deben tener por encima una de las funciones (techo) y por debajo la otra (piso).
	

			.diapo 
				h1 Ecuaciones diferenciales
				.col-2 
					div
						ul
							li Ecuación que relaciona funciones y sus derivadas.
							li Cuando hay una sóla función desconcida (variable dependiente) y una sóla variable independiente, llamaremos a la expresión <strong> Ecuación diferencial ordinaria </strong>
							li Hay variados métodos de resolución para las ecuaciones diferenciales.

						h2 Método de separación de variables
						p Es un método para hallar las soluciones de una ecuación diferencial. 
						p Consiste en separar ("despejar") las variables de una ecuación de forma que los miembros resultantes puedan integrarse.

					.comentario
						h3 Nota
						div
							ul
								li.
									En el miembro donde queda la función  intentar una sustitución igual a dicha función
									\[u=f(x)\text{,	} du=f'(x)dx\]
								li Si el problema tiene condición incial o de contorno, usarla para obtener la constante de integración.
								li Luego de integrar debe despejarse la función.


