doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Día de la Bandera
		link(rel="stylesheet", href="/style/diapositivas.css")
	body 
		.diapositivas 
			.diapo 
				h1 Esta es una propuesta para un video institucional 
				p Necesitamos tu colaboración. Las instrucciones son sencillas: 
				ol 
					li Grabá un video viendo esta página. 
					li A medida que avances veras unas imágenes. Queremos saber que es lo primero que pensas al ver cada una de ellas.
					li Al finalizar con el recorrido envianos tu video.
				h2(style="text-align:center") ↓↓ Sigue hacia abajo para continuar ↓↓

			.diapo 
				figure
					img(src="1.jpg", alt="",style="max-width:500px;margin:auto")

			.diapo 
				figure
					img(src="2.jpg", alt="",style="max-width:500px,margin:auto")

			.diapo 
				figure
					img(src="3.jpeg",style="max-width:500px;margin:auto")

			.diapo 
				figure
					img(src="4.jpeg", alt="",style="max-width:500px;margin:auto")

			.diapo 
				figure
					img(src="5.jpg", alt="",style="max-width:500px;margin:auto")
			
			.diapo 
				figure
					img(src="6.jpeg", alt="",style="max-width:500px;margin:auto")

			.diapo 
				figure
					img(src="7.jpeg", alt="",style="max-width:500px;margin:auto")

			.diapo(style="max-width:500px")
				h1 ¡Muchas Gracias! 
				br
				h3(style="text-align:center") Esperamos ver tus reacciones. 
				br
				p(style="text-align:right") Profesora Alejandra 
				p(style="text-align:right")  Profesor Estanislao
