doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Polinomio de Taylor
		meta(name="description", content="Definición de polinomio de Taylor y el resto.")
		meta(name="keywords", content="polinomio de taylor, resto de taylor, aproximación de funciones")
		link(rel="stylesheet", href="/style/diapositivas.css")
		script(src="/utils/geogebra.js") 
	body 
		.diapositivas 

			.diapo 
				h1 Generalizando la recta tangente 
				.col-igual-2 
					div 
						h2 Recta tangente 
						p Sea $f$ derivable en $x_0$.
						p Si $L(x)$ es la recta tangente al gráfico de $f$ en el punto $(x_0,f(x_0)),$ entonces 
						p \[ \begin{align}  L(x_0) & = f(x_0) \\  L'(x_0)  & = f'(x_0)\end{align} \]
					div 
						h2 Polinomio de Taylor 
						p Sea \( f \) derivable \( n \) veces. 
						p Llamaremos polinomio de Taylor de orden \( n \) en el punto \( (x_0,f(x_0)) \), al polinomio \( P_n(x) \) de grado a lo sumo \( n \) tal que 
						p \[ \begin{align}   P_n(x_0) & = f(x_0) \\  P_n'(x_0) & = f'(x_0) \\   P_n''(x_0)  & = f''(x_0)\\  P_n^{(3)}(x_0) & =f^{(3)}(x_0) \\  & \vdots \\  P_n^{(n)}(x_0)& = f^{(n)}(x_0) \end{align} \] 
				.comentario 
					h3 Nota 
					ul 
						li La recta tangente corresponde al polinomio de Taylor de orden \( 1 \) de la función.
						li El grado del polinomio de Taylor puede no coincidir con el orden del mismo. 
						li Nuestro objetivo es aproximar una función por un polinomio. Los polinomios son fáciles de evaluar.

			.diapo
				h1 Generalizando la recta tangente 
				.col-igual-2 
					div 
						h2 Recta tangente 
						p Sea $f$ una función derivable en $x_0$.
						p Llamamos recta tangente al gráfico de $f$ en $(x_0,f(x_0))$ 
						p \[ y=f(x_0)+f'(x_0)(x-x_0) \] 
					div 
						h2 Polinomio de Taylor 
						p Sea $f$ $n$ veces derivable en \( x_0. \)
						p Llamaremos polinomio de Taylor de orden \( n \) al gráfico de \( f \) en \( (x_0,f(x_0)) \) 
						p \[ \begin{multline} P_n(x) = f(x_0)+f'(x_0)(x-x_0) \\ +\frac{f''(x_0)}{2!}(x-x_0)^2 +\dots\\ +\frac{f^{(n)}(x_0)}{n!}(x-x_0)^n\end{multline} \]
				.comentario 
					h3 Nota 
					ul 
						li Al escribir el polinomio en términos de potencias de \( (x-x_0) \) tenemos más control de los coeficientes. 
						li Cuando \( x_0=0 \) el polinomio de Taylor también lleva el nombre de polinomio de Maclaurin.
						

			.diapo 
				h1 Polinomio de Taylor de \( \cos(x) \)
				.col-2 
					.contenido 
						p Para determinar el polinomio de Taylor \( P_5(x) \) orden \( 5 \) de \( f(x)=\cos(x) \) en \( x=0 \) debemos calcular las primeras 5 derivadas
						p.
							\[ \begin{split}
							&f(x)=\cos(x)& \implies f(0)=1 \\
							&f'(x)=-\sin(x)& \implies f'(0)=0 \\
							&f''(x)=-\cos(x)& \implies f''(0)=-1 \\
							&f^{(3)}(x)=\sin(x)& \implies f^{(3)}(0)=0 \\
							&f^{(4)}(x)=\cos(x)& \implies f^{(4)}(0)=1 \\
							&f^{(5)}(x)=-\sin(x)& \implies f^{(5)}(0)=0\end{split} \]
						p Con lo cuál obtenemos 
						p \[ P_5(x)=1-\frac{1}{2!} x^2+\frac{1}{4!} x^4 \]

					div
						figure 
							#taylorCos
							script(src="taylorCos.js") 
							figcaption Polinomio de Taylor de la función \( \cos(x) \) centrado en \( x=0. \)
						.comentario 
							h3 Nota 
							ul 
								li Debe apreciarse que el orden del polinomio es \( 5 \) pero el grado del mismo es \( 4. \)
								li A medida que el orden del polinomio de Taylor aumenta, se observa: 
									ul 
										li "Mejora la aproximación" cerca del centro del polinomio \( (x=0). \)
										li Se extiende el intervalo donde la aproximación es "aceptable".
								li Centrar el polinomio de Taylor en otro punto es posible pero cuestionable.
							

			.diapo 
				h1 Polinomio de Taylor de \( \sin(x) \)
				.col-2 
					.contenido 
						p Para determinar el polinomio de Taylor \( P_5(x) \) orden \( 5 \) de \( f(x)=\sin(x) \) en \( x=0 \) debemos calcular las primeras 5 derivadas
						p.
							\[ \begin{split}
							&f(x)=\sin(x)& \implies f(0)=0 \\
							&f'(x)=\cos(x)& \implies f'(0)=1 \\
							&f''(x)=-\sin(x)& \implies f''(0)=0 \\
							&f^{(3)}(x)=-\cos(x)& \implies f^{(3)}(0)=-1 \\
							&f^{(4)}(x)=\sin(x)& \implies f^{(4)}(0)=0 \\
							&f^{(5)}(x)=\cos(x)& \implies f^{(5)}(0)=1\end{split} \]
						p Con lo cuál obtenemos 
						p \[ P_5(x)=x-\frac{1}{3!} x^3+\frac{1}{5!} x^5 \]

					div
						figure 
							#taylorSin
							script(src="taylorSin.js") 
							figcaption Polinomio de Taylor de la función \( \sin(x) \) centrado en \( x=0. \)
						.comentario 
							h3 Nota 
							ul 
								li A medida que el orden del polinomio de Taylor aumenta, se observa: 
									ul 
										li "Mejora la aproximación" cerca del centro del polinomio \( (x=0). \)
										li Se extiende el intervalo donde la aproximación es "aceptable".
								li Centrar el polinomio de Taylor en otro punto es posible pero cuestionable.



			.diapo 
				h1 Polinomio de Taylor de \( e^x \)
				.col-2 
					.contenido 
						p Para determinar el polinomio de Taylor \( P_4(x) \) orden \( 4 \) de \( f(x)=e^x \) en \( x=0 \) debemos calcular las primeras 4 derivadas
						p.
							\[ \begin{split}
							&f(x)=e^x& \implies f(0)=1 \\
							&f'(x)=e^x& \implies f'(0)=1 \\
							&f''(x)=e^x& \implies f''(0)=1 \\
							&f^{(3)}(x)=e^x& \implies f^{(3)}(0)=1 \\
							&f^{(4)}(x)=e^x& \implies f^{(4)}(0)=1 
							\end{split} \]
						p Con lo cuál obtenemos 
						p \[ P_4(x)=1+x+\frac{1}{2!} x^2+\frac{1}{3!} x^3+\frac{1}{4!} x^4 \]

					div
						figure 
							#taylorExp
							script(src="taylorExp.js") 
							figcaption Polinomio de Taylor de la función \( e^x \) centrado en \( x=0. \)
						.comentario 
							h3 Nota 
							ul 
								li A medida que el orden del polinomio de Taylor aumenta, se observa: 
									ul 
										li "Mejora la aproximación" cerca del centro del polinomio \( (x=0). \)
										li Se extiende el intervalo donde la aproximación es "aceptable".
								li Centrar el polinomio de Taylor en otro punto es posible pero cuestionable.


			.diapo 
				h1 Polinomio de Taylor de \( \ln(x) \)
				.col-2 
					.contenido 
						p Para determinar el polinomio de Taylor \( P_4(x) \) orden \( 4 \) de \( f(x)=\ln(x) \) en \( x=1 \) debemos calcular las primeras 4 derivadas
						p.
							\[ \begin{split}
							&f(x)=\ln(x)& \implies f(1)=0 \\
							&f'(x)=\frac{1}{x}& \implies f'(1)=1 \\
							&f''(x)=\frac{-1}{x^2}& \implies f''(1)=-1 \\
							&f^{(3)}(x)=\frac{2}{x^3}& \implies f^{(3)}(1)=2 \\
							&f^{(4)}(x)=\frac{-6}{x^4}& \implies f^{(4)}(1)=-6 
							\end{split} \]
						p Con lo cuál obtenemos 
						p \[ \begin{align}  P_4(x)=&(x-1)-\frac{1}{2} (x-1)^2 \\ & +\frac{1}{3} (x-1)^3-\frac{1}{4} (x-1)^4 \end{align}  \]

					div
						figure 
							#taylorLn
							script(src="taylorLn.js") 
							figcaption Polinomio de Taylor de la función \( \ln(x) \) centrado en \( x=1. \)
						.comentario 
							h3 Nota 
							ul 
								li A medida que el orden del polinomio de Taylor aumenta, se observa: 
									ul 
										li "Mejora la aproximación" cerca del centro del polinomio \( (x=1). \)
										li Se extiende el intervalo donde la aproximación es "aceptable", pero limitado al intervalo \( (0,2). \)
								li Centrar el polinomio de Taylor en otro punto es posible pero cuestionable.



			.diapo 
				h1 Aproximar funciones con polinomio de Taylor 
				.col-2 
					.contenido 
						h2 Resto de Taylor 
						p Dada una función \( n \) veces derivable en \( x_0 \) y su polinomio de Taylor \( P_n(x) \) de orden \( n \) en \( x_0 \) definimos el Resto de Taylor de orden \( n \) como 
						p \[ R_n(x)= f(x)-P_n(x) \]
						h2 Fórmula del resto de Taylor
						p Si \( f \) es una función \( n+1 \) veces derivable, existe un \( c \) entre \( x \) y \( x_0 \) tal que 
						p \[ R_n(x)=\frac{f^{(n+1)}(c)}{(n+1)!}(x-x_0)^{n+1} \]
						.comentario 
							h3 Nota 
							ul 
								li Al aproximar \( f(x) \) evaluando \( P_n(x) \), el error de la aproximación es \( |R_n(x)|. \)
								li El valor de \( c \) en la fórmula de Taylor es, en general, desconocido. Normalmente se busca acotar la expresión del resto para estimar que grande puede ser el error.
					
					figure 
						#aproximacion
						script(src="aproximacion.js") 
						figcaption Representación de una función (verde) y su polinomio de Taylor. Al evaluar la función y el polinomio en \( x \) dado, puede verse una diferencia entre los resultados. Esta diferencia es el Resto.
