doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Límite de funciones
		meta(name="description", content="Límite de funciones. Límites especiales. Propiedades")
		link(rel="stylesheet", href="/style/diapositivas.css")
		script(src="/utils/geogebra.js") 
	body 
		.diapositivas 
			.diapo 
				h1 Límite ( $x\to+\infty$)
				.col-2
					.contenido 
						h2 Definición
						p Sea $f$ una función cuyo dominio no esta acotado superiormete.
						.col-igual-2
							div
								p Diremos que $$ \lim_{x\to+\infty} f(x) =l $$ cuando $\forall \epsilon\gt 0,\exists N>0 $ tal que $$  x>N \implies |f(x)-l|<\epsilon$$ 
							div
								p Diremos que $$ \lim_{x\to+\infty} f(x) =\infty $$ cuando $ \forall M\gt 0,\exists N>0$ tal que $$ x>N \implies |f(x)|>M$$ 

						.comentario 
							h3 Nota 
							ul 
								li La definición es equivalente al límite de sucesiones.
								li No se pueden usar los criterios de D'Alembert (del cociente) y Cauchy (de la raiz n-ésima). Son exclusivos de sucesiones.
								li Como el dominio no esta restringido a $\mathbb{N}$ también pueden hacerse $x\to -\infty$, $x\to a$ con $a\in\mathbb{R}$, etc.

					div 
						figure 
							#limiteAmasInf 
							script(src="limiteAmasInf.js")
							figcaption Representación gráfica de un límite $\lim_{x\to +\infty}f(x)=1$. La banda en rojo centrada en $y=1$ tiene un alto $2\epsilon.$ Para que exista el límite, para cualquier valor de $\epsilon$ debe existir un valor $N$ de tal manera que la función ingrese por el lateral izquierdo del recuadro rojo y no se salga del mismo.

			.diapo 
				h1 Límite ($x\to-\infty$)
				.col-2
					.contenido 
						h2 Definición
						p Sea $f$ una función cuyo dominio no esta acotado inferiormente.
						.col-igual-2
							div
								p Diremos que $$ \lim_{x\to-\infty} f(x) =l $$ cuando $\forall \epsilon\gt 0,\exists N\lt 0 $ tal que \[ x\lt N \implies |f(x)-l|<\epsilon \]
							div
								p Diremos que $$ \lim_{x\to-\infty} f(x) =\infty $$ cuando $ \forall M,\exists N\lt0$ tal quel \[ x&lt N \implies |f(x)|>M \]
					figure 
						#limiteAMenosInf 
						script(src="limiteAMenosInf.js")
						figcaption Representación gráfica de un límite $\lim_{x\to -\infty}f(x)=-1$. La banda en rojo centrada en $y=-1$ tiene un alto $2\epsilon.$ Para que exista el límite, para cualquier valor de $\epsilon$ debe existir un valor $N$ de tal manera que la función ingrese por el lateral derecho del recuadro rojo y no se salga del mismo.


			.diapo 
				h1 Límite Lateral por izquierda
				.col-2
					.contenido 
						p Sea $f$ una función y $a\in\mathbb R.$ Diremos que 

						p $$ \lim_{x\to a^-} f(x) =l $$ Cuando $ \forall \epsilon\gt 0,\exists \delta>0$ tal que $$ 0&lt a-x<\delta \Rightarrow |f(x)-l|<\epsilon $$

						.comentario 
							h3 Nota
							p Notar que la condición $ 0\lt a-x$ implica $x\neq a$, indicando que al límite no le importa el valor $f(a)$ (que incluso podría no exitir).

					figure 
						#limiteLateralIzq 
						script(src="limiteLateralIzq.js") 
						figcaption Representación gráfica de un límite lateral por izquierda $\lim_{x\to 3^-}f(x)=1$. El recuadro en rojo centrado en $(a,l)=(3,1)$ tiene ancho $\delta$ y alto $2\epsilon.$ Para que exista el límite, para cualquier valor de $\epsilon$ debe existir un valor $\delta$ de tal manera que la función ingrese por el lateral izquierdo del recuadro rojo y no se salga del mismo.

			.diapo 
				h1 Límite Lateral por derecha
				.col-2
					.contenido 
						p Sea $f$ una función y $a\in\mathbb R.$ Diremos que 

						p $$ \lim_{x\to a^+} f(x) =l $$ Cuando $ \forall \epsilon\gt 0,\exists \delta>0 $ tal que \[ 0&lt x-a<\delta \Rightarrow |f(x)-l|<\epsilon \]

						.comentario 
							h3 Nota
							p Notar que la condición $ 0\lt x-a$ implica $x\neq a$, indicando que al límite no le importa el valor $f(a)$ (que incluso podría no exitir).

					figure 
						#limiteLateralDer 
						script(src="limiteLateralDer.js") 
						figcaption Representación gráfica de un límite lateral por derecha $\lim_{x\to 3^+}f(x)=3$. El recuadro en rojo centrado en $(a,l)=(3,3)$ tiene ancho $\delta$ y alto $2\epsilon.$ Para que exista el límite, para todo valor de $\epsilon$ debe existir un valor $\delta$ de tal manera que la función ingrese por el lateral derecho del recuadro rojo y no se salga del mismo.



			.diapo 
				h1 Límite puntual
				.col-2
					.contenido
						p Sea $f$ una función y $a\in\mathbb R.$ Diremos que 
						p $$ \lim_{x\to a} f(x) =l $$ Cuando $ \forall \epsilon\gt 0,\exists \delta>0$ tal que  \[ 0<|x-a|<\delta \Rightarrow |f(x)-l|<\epsilon \]
						.comentario 
							h3 Nota 
							ul 
								li Notar que la condición $ 0\lt |x-a|$ implica $x\neq a$, indicando que al límite no le importa el valor $f(a)$ (que incluso podría no exitir).
								li El límite puntual existe si y solo si los límites laterales existen y valen lo mismo. \[ \lim_{x\to a}f(x)= \lim_{x\to a^+}f(x)=\lim_{x\to a^-}f(x)\]
								li Los límites con resultado $\infty$ se reemplaza $\forall \epsilon>0$ por $\forall M>0$ y también $|f(x)-l|<\epsilon$ por $|f(x)|>M$ 

					figure 
						#limitePuntual 
						script(src="limitePuntual.js") 
						figcaption Representación gráfica de la definición de límite puntual para el caso $ \lim_{x\to 2} f(x)=1.$ Los valores $2\epsilon$ y $2\delta$ forman el alto y el ancho (respectivamente) de un rectangulo centrado en $(a,l)=(2,1)$. Para que existe el límite, en cualquier valor de $\epsilon$ debe existir un valor $\delta$ para el cual la función ingrese por los costados del recuadro rojo y no se salga del mismo.



			.diapo 
				h1 Propiedades de límites 
				.contenido
					p El tratamiento es similar a los límites de sucesiones (sin criterio de D'Alembert ni criterio de Cauchy):
					ul.col-igual-2 
						div
							li Vale el algebra de límites de sucesiones.
							li Se mantienen las indeterminaciones.
							li Vale las propiedad del Sandwich y $\text{"0"}\cdot\text{"acotado"}.$
							li En sumas y restas se puede sacar factor común el término dominante (cuando este tiene a $\infty$).
							li En divisiones de polinomios que tienen a $\text{"0"}/\text{"0"}$ se puede factorizar.
							li En la situación $"\infty"-"\infty"$ donde los términos tienen un crecimiento similar y al menos interviene una raíz cuadrada se puede multiplicar y dividir por el conjugado $$(\sqrt{a}-\sqrt{b})\cdot(\sqrt{a}+\sqrt{b})=a-b.$$
							li Se puede hacer cambio de variable.
							li Se puede usar la regla de L'Hospital.
						div
							li En los límites $\text{"a"}^\text{"b"}$ vale: 
								p \[ \text{"a"}^{"+\infty"} =\begin{cases} +\infty & \text{"a"}\gt 1 \\ 0 & 1\gt\text{"a"} \gt 0\end{cases}\]	
								p \[ \text{"a"}^{"-\infty"} =\begin{cases} 0 & \text{"a"}\gt 1 \\ +\infty & 1\gt\text{"a"} \gt 0\end{cases}\]	
								p si $\text{"a"}= 1$ y $\text{"b"}= \infty$ usar el límite especial: \[ \lim_{x\to +\infty}\left(1+\frac{1}{x}\right)^x=e \]
							li En los casos $\sin(\text{"0"})/\text{"0"}$ se puede usar $$\lim_{x\to 0}\frac{\sin(x)}{x}=1.$$
					.comentario
						h3 Nota 
						p La notación $\text{"a"}$ representa a una función cuyo límite es $a$. 


			.diapo
				h1 Límite especial $\sin(x)/x$
				.col-2
					.contenido
						h2 Propiedad
						p $$ \lim_{x\to 0} \frac{\sin(x)}{x}=1 $$
						.comentario
							h3 Nota
							.col-igual-2
								div
									p El límite presenta una indeterminación $\frac{sin(\text{"0"})}{\text{"0"}} $
									p Si bien esta propiedad es fundamental para este tipo de indeterminación, podrá salvarse también con la regla de L'Hospital.
									p Idea de la demostración de la propiedad:
									p Sea $x$ el arco de circunferencia entre el $(1,0)$ y el punto \( (\cos(x),\sin(x)) \) (rojo) en la construcción geométrica. Las areas de las figuras son: 
									ul 
										li Área del "triángulo 1"\( =\tfrac{\cos(x)\sin(x)}2 \) 
										li Área de la "sección circular" \( =\tfrac x 2 \) 
										li Área del "triángulo 2" \(= \tfrac{\tan(x)} 2 \) 
								div
									p Debido a las desigualdades de las áreas del "triángulo 1", "sección circular" y "triángulo 2" tenemos 
									p \[ \frac{\cos(x)\sin(x)}2 \leq \frac x 2 \leq \frac {\tan(x)} 2 \]
									p Teniendo en cuenta que \( \tan(x)=\tfrac{\sin(x)}{\cos(x)} \) y diviendo a todo por \( \tfrac{\sin(x)}2 \) queda 
									p \[ \cos(x)\leq \frac{x}{\sin(x)} \leq \frac 1{\cos(x)} \]
									p Finalmente, usando el teorema de Sandwich y algebra de límites puede demostrarse el límite especial.
					figure 
						#limiteEspecial 
						script(src="limiteEspecial.js") 
						figcaption Construcción geométrica para probar el límite especial. El punto rojo es \( (\cos(x),\sin(x)). \) Notar que el área del "triángulo 1" es menor a la "sección circular" y esta última menor al "triángulo 2".


			.diapo 
				h1 Asíntotas de una función 
				.col-2
					.contenido
						h2 Asíntota horizontal (AH)
						p Diremos que una función tiene una asíntota horizontal (AH) en $y=b$ si 
						p \[ \lim_{x\to \pm \infty}f(x)=b \text{(finito)} \]
						.comentario 
							h3 Nota 
							ul 
								li Si el límite es finito solo para $x\to +\infty$ diremos que hay AH por derecha.
								li Si el límite es finito solo para $x\to -\infty$ diremos que hay AH por izquierda.
								li Si el dominio de la función esta acotado, entonces no puede tener AH. 
						h2 Asíntota Vertical (AV)
						p Diremos que una función tiene una asíntota vertical (AV) en $x=a$ si 
						p \[ \lim_{x\to a^+}f(x)=\infty, \text{ o bien, } \lim_{x\to a^-}f(x)=\infty\]
						.comentario 
							h3 Nota 
							ul 
								li Son candidatos a AV los valores que no pertencen al dominio de la función y los lugares de bifurcación en una función partida.
								li Con que un límite lateral de $\infty$ alcanza para la existencia de una AV.

					figure 
						#asintotas 
						script(src="asintotas.js") 
						figcaption Gráfico de una función y sus asíntotas. Hay una AV por derecha de ecuación $y=2$, una AV por izquierda de ecuación $y=-2$ y una AH de ecuación $x=3$.

