doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="/style/diapositivas.css")
	body
		.diapositivas
			.diapo
				h1 Esto es un titulo h1  
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sed quis quo nihil, animi m quod sequi inventore impedit reiciendis sit amet magnam eius atque laboriosam porro minima.Sapiente perferendis libero odit similique repellat, incidunt sunt
				h2 Esto es un subtitulo h2 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptatem fuga recusandae maxime, sapiente sed nisi, tempora explicabo cum porro obcaecati unde. Beatae expedita accusantium voluptatibus nesciunt corporis magnam similique!
				.comentario
					h3 Edf
					ol
						li fdasd asdf asdf asd fas dfas df asd fasd f asdf asdf asmf qswkjlf nasdfkjsadfjkñs fñksd jfñlas fjlksdñh fjash jñ
						li asfda
						li $ \beta +\int_n^2 x $
						li asdf
			.diapo
				h1 Esta es la 2da diapositiva 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus odit iusto consequuntur modi consequatur iure, ratione labore enim voluptatibus suscipit dolores? Sequi, magni aperiam aliquid sunt deleniti voluptatibus similique excepturi?