doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Definición de recta tangente. Definición de derivada en un punto y función derivada. Propiedades de la derivada.")
		meta(name="keywords", content="tangente, secante, derivada, tabla de derivadas, función derivable, regla de la cadena, propiedades de la derivada")
		title Recta tangente y derivada.
		link(rel="stylesheet", href="/style/diapositivas.css")
		script(src="/utils/geogebra.js") 
		
	body
		.diapositivas
			.diapo
				h1 Recta tangente
				.col-2 
					.contenido 
						h2 Concepto
						p La recta tangente a una curva en un punto $P$ es aquella recta que cumple con las siguentes propiedades:
							ol
								li Interseca a la curva en el punto $P.$
								li La recta y la curva son <strong> indistinguibles cerca del punto $P.$</strong>
						
						h2 Objetivo
						p Hallar forma funcional de la recta tangente al gráfico de una función en el punto $(x_0,f(x_0)).$
					figure 
						#curvaYtangente 
						script(src="curvaYtangente.js") 
						figcaption.
							Una curva y su recta tangente en el punto $P$. 
							Al ampliar el gráfico hacia el punto $P$ la curva y su recta tangente se vuelven indistinguibles.


			.diapo 
				h1 Recta Secante
				.col-2 
					.contenido 
						h2 Definición
	
						p Para el gráfico de una función $f(x)$, la recta secante que pasa por los puntos $(x_0,f(x_0))$ y $(x_1,f(x_1))$ tiene:
							ul
								li Pendiente \[m=\frac{f(x_1)-f(x_0)}{x_1-x_0}\]
								li Ecuación \[y=m\cdot (x-x_0)+f(x_0)\]
						.comentario 
							h3 Nota 
							ul 
								li La recta secante puede tener intersección en más de dos puntos. 
								li La recta secante se parece más a una recta tangente al acercar los puntos $(x_0,y_0)$ y $(x_1,y_1)$. Usando esta idea construiremos la definción de la recta tangente.
					figure 
						#rectaSecante
						script(src="rectaSecante.js") 
						figcaption Recta secante que pasa por los puntos $(x_0,f(x_0))$ y $(x_1,f(x_1))$. Notar que a medida que los puntos se acercan la recta secante se parece a una recta tangente.
	

			.diapo 
				h1 De la secante a la tangente 
				.col-2 
					.contenido
						h2 Recta secante
						p La recta secante al gráfico de una función $f(x)$ que pasa por los puntos $(x_0,f(x_0))$ y $(x_1,f(x_1))$ tiene:
						p  \[ m=\frac{f(x_1)-f(x_0)}{x_1-x_0}\]
						p  \[y=m\cdot (x-x_0)+f(x_0)\]
						h2 Recta tangente
						p La recta tangente al gráfico de una función $f(x)$ que pasa por el punto $(x_0,f(x_0))$ puede construirse haciendo que los puntos de la recta secante se acerquen entre si (tomando límite $x_1\to x_0$):
						p \[ m=\lim_{x_1\rightarrow x_0}\frac{f(x_1)-f(x_0)}{x_1-x_0}\]
						p \[  y=m\cdot (x-x_0)+f(x_0)\]
					figure 
						#secanteYtangente
						script(src="secanteYtangente.js") 
						figcaption Visualización de la recta tagente y recta secante en el gráfico de una función. "Acercando los puntos" la recta secante se aproxima a una recta tangente.


			.diapo 
				h1 Recta tangente 
				.col-2
					.contenido
						h2 Definición  
						p Sea $x_0$ un punto interior del $Dom f$. La recta tangente al gráfico de una función $f(x)$ en el punto de contacto $(x_0,f(x_0))$ se define como:
						p \[ m=\lim_{x\rightarrow x_0}\frac{f(x)-f(x_0)}{x-x_0}\]
						p \[  y=m\cdot (x-x_0)+f(x_0)\]
						.comentario 
							h3 Nota 
							ul 
								li Al límite propuesto se le conoce como "límite del cociente incremental". Este límite debe existir y ser finito para que la definición dada tenga sentido.
								li El límite del cociente incremental puede escribirse alternativamente como \[m=\lim_{h\to 0}\frac{f(x_0+h)-f(x_0)}h \]
								li Esta definición no contempla el caso donde la recta tangente sea vertical. En ese caso, el límite del cociente incremental sería $\pm\infty.$
					figure 
						#tangenteDefinicion
						script(src="tangenteDefinicion.js") 
						figcaption Función y su recta tangente. En $x=1$ y en $x=4$ no existe recta tangente por ser frontera de la definción de $f$. En $x=1$ la recta tangente es vertical. En $x=2$ no hay recta tangente porque a la izquierda y derecha las pendientes son distintas.



			.diapo 
				h1 Derivada
				.col-2
					.contenido
						h2 Definición
						p Sea $x_0$ un punto interior del $Dom f$. Llamaremos derivada de $f$  en $x_0$ (y lo notaremos $f'(x_0) $) al resultado del límite del cociente incremental (siempre y cuando exista y sea finito)
						p \[ f'(x_0)=\lim_{x\rightarrow x_0}\frac{f(x)-f(x_0)}{x-x_0}\]
						p Se llama función derivada $f'(x)$ a la función que calcula la derivada de $f(x)$ para cada $x\in Dom f$ (cuando la derivada exista).
						h2 Propiedad 
						p Si $f$ es derivable en $x_0$ entonces $f$ también es continua en $x_0$.

						.comentario 
							h3 Nota 
							ul 
								li La pendiente de la recta tangente al gráfico de $f$ en $x_0$ es igual a la derivida $f'(x_0).$ 
								li La definición de derivada es poco práctica. Veremos que con una tabla de derivadas y una serie de propiedades puede agilizarse muchos cálculos.
								li Es importante destacar $Dom f'$ debe estar incluido en $Dom f$ (sin incluir la frontera).
						
					figure 
						table(style="position:initial")
							tr 
								th(colspan=2) Tabla de derivadas
							tr
								th $f(x)$
								th $f'(x)$
							tr
								td $C$ (constante)
								td $0$
							tr
								td $x$
								td $1$
							tr
								td $x^p$
								td $p\cdot x^{p-1}$
							tr
								td $e^x$
								td $e^x$
							tr
								td $\ln(x)$
								td $\frac{1}{x}$
							tr
								td $\sin(x)$
								td $\cos(x)$
							tr
								td $\cos(x)$
								td $-\sin(x)$
						figcaption Notar que la tabla de derivada no incluye funciones partidas. Para derivar funciones partidas (en donde sucede la partición) es necesario recurrir a la definición de derivada.



			.diapo 
				h1 Propiedades de derivación 
				.col-2 
					.contenido
						p 1. Función + Función
						p  $$ \big(f(x)+g(x)\big)'=f'(x)+g'(x) $$
						p 2. Número $\times$ Función
						p $$ \big(K\cdot f(x)\big)'= K\cdot f'(x) $$
						p 3. Función $\times$ Función  
						p $$ \big(f(x) \cdot g(x)\big)'= f'(x)\cdot g(x) + f(x)\cdot g'(x) $$
						p 4. Función / Función 
						p $$ \displaystyle \left(\frac{f(x)}{g(x)}\right)'=\frac{f'(x)\cdot g(x) - f(x)\cdot g'(x)}{[g(x)]^2} $$
						p 5. Regla de la cadena
						p $$\Big(f\big(g(x)\big)\Big)'=f'\big(g(x)\big)\cdot g'(x) $$
					figure
						table
							tr
								th(colspan=2) Tabla de derivadas
							tr
								th $f(x)$
								th $f'(x)$
							tr
								td $C$ (constante)
								td $0$
							tr
								td $x$
								td $1$
							tr
								td $x^p$
								td $p\cdot x^{p-1}$
							tr
								td $e^x$
								td $e^x$
							tr
								td $\ln(x)$
								td $\frac{1}{x}$
							tr
								td $\sin(x)$
								td $\cos(x)$
							tr
								td $\cos(x)$
								td $-\sin(x)$
								


			.diapo 
				h1 Derivada y recta tangente 
				.col-igual-2
					div
						h2 Propiedad
						p La recta tangente al gráfico de $f(x)$ en $(x_0,f(x_0))$ tiene ecuación: \[ y=f'(x_0)\cdot (x-x_0)+f(x_0) \]
					div
						h2 Propiedad
						p Si $y=m\cdot x +b$ es la recta tangente al gráfico de $f(x)$ en $(x_0,f(x_0))$, entonces \[f'(x_0)=m\] \[f(x_0)=m\cdot x_0 +b\]
				.comentario
					h3 Nota
					div
						p $f(x)$ no es derivable en $x_0$ se presenta alguna de las siguientes situaciones:
							ul
								li $f(x)$ es discontinua en $x_0.$
								li Si $f(x)$ tiene "arrugas o picos" en $x_0.$
								li La recta tangente al gráfico de $f(x)$ es vertical en $x_0.$
								li $x_0$ es frontera del dominio de la función $f.$

		