doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Diapositivas de las clases de Matemática (51) del CBC-UBA
		link(rel="stylesheet", href="/style/diapositivas.css")
	body 
		.diapositivas
			.diapo
				h1 Diapositivas para las clases de Matemática (51) del CBC-UBA
				ol 
					li: a(href="./plano_y_vectores") Plano Cartesiano y vectores
					li: a(href="./polinomios") Polinomios 
					li: a(href="./limite") Límite de funciones y asíntotas
					li: a(href="./composicion") Composición de funciones
					li: a(href="./inversa") Función inversa
					li: a(href="./exponencial_logaritmo") Función exponencial y logarítmica
					li: a(href="./funciones_trigonometricas") Funciones trigonométricas
					li: a(href="./recta_tangente_y_derivada") Recta tangente y derivada
					li: a(href="./estudio_de_funciones") Estudio de funciones 
					li: a(href="./integrales") Definición de integrales y sus propiedades
					li: a(href="./integrales_aplicacion") Cálculo de áreas
