doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Integrales y métodos de integración
		meta(name="description", content="Definición las integrales a patir de la derivada. Tabla de integrales de funcinoes elementales. Propiedades de las integrales indefinidas. Métodos de integración.")
		meta(name="keywords", content="integral, primitiva, antiderivada, tabla de integrales, método de partes, método de sustitución")
		link(rel="stylesheet", href="/style/diapositivas.css")
	body 
		.diapositivas
			.diapo 
				h1 Primitiva o antiderivada $ $ 
				.col-igual-2
					div 
						h2 Definición
						p Diremos que \( F(x) \) es una primitiva o antideridava de la función \( f(x) \) si cumple \[ F'(x)=f(x) \]
						p A la operación de buscar las primitivas de una función \( f(x) \) llamaremos integración (indefinida) y lo notaremos \[ \int f(x)\cdot dx \]
						h2 Propiedad 
						p Si \( F(x) \) es una primitiva de la función \( f(x) \), entonces \( F(x)+C \) también es primitiva de \( f(x). \)
					div
						.comentario 
							h3 Ejemplo
							div
								ul
									li La función \( f(x)=2x \) tiene por primitivas a \[ \begin{align}  &F(x)=x^2-3 \\ &F(x)=x^2+7 \end{align} \]
										p Estas nos son las únicas, en general \( F(x)=x^2+C \) es la familia de primitiva de \( f(x), \) donde \( C \) es un constante arbitraria. Podemos usar la notación \[ \int 2x\cdot dx = x^2+C \]
									li Algunas primitivas fáciles de calcular:
										p $$ \int \cos(x)\cdot dx = \sin(x)+C $$
										p $$  \int \sin(x)\cdot dx = -\cos(x)+C $$
										p $$  \int e^x\cdot dx = e^x+C $$
										p $$ \int \frac{1}{x}\cdot dx = \ln|x|+C $$

			.diapo
				h1 Tabla de integrales y propiedades
				.col-2
					div
						h2 Propiedades
						ul
							li Número $\cdot$ Función $$ \int K\cdot f \cdot dx = K\cdot \int f\cdot dx$$
							li Función + Función $$ \int f+g\cdot dx = \int f\cdot dx + \int g\cdot dx $$


					div
						figure
							table
								tr
									th(colspan=2) Tabla de integrales
								tr
									th $f(x)$
									th $\int f(x) dx$
								tr
									td $1$
									td $x+C$
								tr
									td $K$ (const.)
									td $K\cdot x+C$
								tr
									td $x^n$ ($n\neq -1$)
									td $\frac{x^{n+1}}{n+1}+C$
								tr
									td $e^x$
									td $e^x+C$
								tr
									td $x^{-1}=\frac{1}{x}$
									td $\ln|x|+C$
								tr
									td $\cos(x)$
									td $\sin(x)+C$
								tr
									td $\sin(x)$
									td $-\cos(x)+C$
							figcaption Tabla de integrales de funciones elementales.



