doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Integrales y métodos de integración
		meta(name="description", content="Definición las integrales a patir de la derivada. Tabla de integrales de funcinoes elementales. Propiedades de las integrales indefinidas. Métodos de integración.")
		meta(name="keywords", content="integral, primitiva, antiderivada, tabla de integrales, método de partes, método de sustitución")
		link(rel="stylesheet", href="/style/diapositivas.css")
	body 
		.diapositivas
			.diapo 
				h1 Primitiva o antiderivada $ $ 
				.col-igual-2
					div 
						h2 Definición
						p Diremos que \( F(x) \) es una primitiva o antideridava de la función \( f(x) \) si cumple \[ F'(x)=f(x) \]
						p A la operación de buscar las primitivas de una función \( f(x) \) llamaremos integración (indefinida) y lo notaremos \[ \int f(x)\cdot dx \]
						h2 Propiedad 
						p Si \( F(x) \) es una primitiva de la función \( f(x) \), entonces \( F(x)+C \) también es primitiva de \( f(x). \)
					div
						.comentario 
							h3 Ejemplo
							div
								ul
									li La función \( f(x)=2x \) tiene por primitivas a \[ \begin{align}  &F(x)=x^2-3 \\ &F(x)=x^2+7 \end{align} \]
										p Estas nos son las únicas, en general \( F(x)=x^2+C \) es la familia de primitiva de \( f(x), \) donde \( C \) es un constante arbitraria. Podemos usar la notación \[ \int 2x\cdot dx = x^2+C \]
									li Algunas primitivas fáciles de calcular:
										p $$ \int \cos(x)\cdot dx = \sin(x)+C $$
										p $$  \int \sin(x)\cdot dx = -\cos(x)+C $$
										p $$  \int e^x\cdot dx = e^x+C $$
										p $$ \int \frac{1}{x}\cdot dx = \ln|x|+C $$

			.diapo
				h1 Tabla de integrales y propiedades
				.col-2
					div
						h2 Propiedades
						ul
							li Derivada de una integral indefinida \[ \left(\int f(x)dx\right)'=f(x) \]
							li Número $\times$ Función $$ \int K\cdot f \cdot dx = K\cdot \int f\cdot dx$$
							li Función + Función $$ \int (f+g)\cdot dx = \int f\cdot dx + \int g\cdot dx $$


					div
						figure
							table
								style tr{height:2em}
								tr
									th(colspan=2) Tabla de integrales
								tr
									th $f(x)$
									th $ \int f(x) dx $
								tr
									td $1$
									td $x+C$
								tr
									td $K$ (const.)
									td $K\cdot x+C$
								tr
									td $x^n$ ($n\neq -1$)
									td $\frac{x^{n+1}}{n+1}+C$
								tr
									td $e^x$
									td $e^x+C$
								tr
									td $x^{-1}=\frac{1}{x}$
									td $\ln|x|+C$
								tr
									td $\cos(x)$
									td $\sin(x)+C$
								tr
									td $\sin(x)$
									td $-\cos(x)+C$
							figcaption Tabla de integrales de funciones elementales. Esta tabla junto a las propiedades y los métodos de integración pueden calcularse integrales de una amplia variedad de funciones.

			.diapo 
				h1 Método de sustitución

				.col-2
					div
						p Aplicando integral sobre la regla de la cadena se observa 
						p \[  \int f\big(\underbrace{g(x)}_{u}\big)\cdot \underbrace{g'(x)\cdot dx}_{du}=\int f(u)\cdot du\]
						p Para realizar el método de sustitición debe: 
							ul 
								li Definir una nueva variable de la forma \[ u=g(x) \]
								li Hallar el diferencial de la nueva variable en función de la variable original \[ du=g'(x)\cdot dx \]
								li Con las expresiones anteriores sustituir todas las \( x \) en la integral por la nueva variable \( u. \) Se obtiene una nueva integral a resolver.

					.comentario 
						h3 Nota 
						ul 
							li El método puede inferirse de la regla de la cadena \[ \Big(f\big(g(x)\big)\Big)'=f'\big(g(x)\big)\cdot g'(x) \] para la derivada de una composición.
							li El método de integración no resuelve integrales, solamente cambia una integral por otra (con la esperanza de que sea más fácil de resolver).
							li Mayormente, el metodo de sustición se aplica cuando 
								ul 
									li Se observa una composición de funciones (sustituyendo la función que esta dentro de la composición.)
									li Se observa que la derivada de parte de la función se encuentra multiplicando al diferencial.
							li Los casos anteriores son referencia, existen integrales donde se presentan las situaciones anteriores y no se resuelven por el método de susticición. También hay integrales que no corresponden a los casos de referencia pero el método es útil. 

			.diapo 
				h1 Método de partes 
				.col-2 
					div 
						p Debe aplicarse la siguiente expresión
						p \[ \int f'\cdot g\cdot dx = f\cdot g -\int f\cdot g'\cdot dx \]
						p donde es necesario elegir las "partes" de la integral.
						ul 
							li Parte de la integral se tomará como $f'(x)$ y deberá calcularse $f(x)=\int f'(x)\cdot dx$ 
							li La parte restante será $g(x)$ y deberá calcularse $g'(x)$

					.comentario 
						h3 Nota 
						ul 
							li El método de partes surge de integrar la fórmula  \[ (f\cdot g)'= f'\cdot g + f \cdot g' \] de la derivada de producto de funciones.
							li El método no resuelve la integral, la transforma en una nueva.
							li Para \( \int \text{polinomio}\cdot e^x \cdot dx \) debe tomarse el polinomio para derivar.
							li Para \( \int \text{polinomio} \cdot \cos(x) \cdot dx \) debe tomarse el polinomio para derivar.
							li Para \( \int \text{polinomio} \cdot \sin(x) \cdot dx \) debe tomarse el polinomio para derivar.
							li Para \( \int \text{polinomio} \cdot \ln(x) \cdot dx \) debe tomarse el \( ln(x) \) para derivar.
