doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Funciones Trigonométricas
		meta(name="description", content="Definición de funciones trigonométricas a partir de la circunferencia trigonométrica. Propiedades y gráficos de las funciones seno y coseno. ")
		meta(name="keywords", content="trigonometría, seno, coseno, identidades trigonométricas, radianes")
		link(rel="stylesheet", href="/style/diapositivas.css")
		script(src="/utils/geogebra.js")
	body
		.diapositivas
			.diapo
				h1 Circunferencia trigonométrica
				.col-2
					.contenido
						ul
							li La circunferencia trigonométrica tiene radio 1 y centro en $(0,0).$
							li Se define las funciones coseno y seno como las coordenadas del punto $$P=(\cos(x),\sin(x))$$ donde $x$ es la longitud de arco desde el punto $(1,0)$ hasta el punto $P$ con la siguiente convención:
								ul
									li $x\gt 0$ si el arco es en sentido anti-horario.
									li $x\lt 0 $ si el arco es en sentido horario.
						.comentario
							h3 Nota
							ul
								li Cada valor de longitud de arco se relaciona con un ángulo. Llamaremos radianes a esta forma de medir ángulos. $$ 2\pi = 360^\circ,\pi = 180^\circ,\frac{\pi}{2}=90^\circ$$ $$ \frac{\pi}{3}=60^\circ,\frac{\pi}{4}=45^\circ ,\frac{\pi}{6}=30^\circ$$

								li A los $2\pi$ radianes se da una vuelta entera, para valores mayores se vuelve a pasar por los puntos de la circunferencia trigonométrica. 
					figure
						#circunferenciaTrigonometrica
						script(src="circunferenciaTrigonometrica.js")
						figcaption Representación de la circunferencia trigonométrica. En color rojo se marca el arco de longitud $x$ desde el punto $(1,0)$ hasta el punto $P$. La primer coordenadas de $P$ es el valor del $\cos(x)$ y la segunda coordenada de $P$ es el valor del $\sin(x).$

			.diapo
				h1 Propiedades de las funciones trigonométrica
				.col-2
					.contenido
						ul
							li Usando el teorema de Pitagoras se obtiene $$\cos^2(x)+\sin^2(x)=1$$
							li Como el radio de la circunferencia es 1, resulta $$ -1\leq \cos(x) \leq 1$$ $$ -1\leq \sin(x)\leq 1$$
							li Dado que para una longitud de arco mayor a $2\pi$ se vuelven a repetir los puntos de la circunferencia trigonométrica $$\cos(x+2\pi)=\cos(x)$$ $$\sin(x+2\pi)=\sin(x)$$
							li Identidades trigonométricas de suma de ángulos $$ \cos(x+y)=\cos(x)\cos(y)-\sin(x)\sin(y) $$ $$ \sin(x+y)=\cos(x)\sin(y)+\sin(x)\cos(x) $$
					figure
						table 
							tr
								th $x$
								th $\cos(x)$
								th $\sin(x)$
							tr
								td $0$
								td $1$
								td $0$
							tr
								td $\frac{\pi}{6}$
								td $\frac{\sqrt{3}}{2}$
								td $\frac{1}{2}$
							tr
								td $\frac{\pi}{4}$
								td $\frac{\sqrt{2}}{2}$
								td $\frac{\sqrt{2}}{2}$
							tr
								td $\frac{\pi}{3}$		
								td $\frac{1}{2}$
								td $\frac{\sqrt{3}}{2}$
							tr
								td $\frac{\pi}{2}$
								td $0$
								td $1$
							tr
								td $\pi$
								td $-1$
								td $0$
							tr 
								td $\frac{3\pi}{2}$ 
								td $0$ 
								td $-1$ 
							tr
								td $2\pi$
								td $1$
								td $0$
						figcaption Valores notables de las funciones coseno y seno. Las primeras cuatro filas corresponden con resultados en el primer cuadrante del plano cartesiano.


			.diapo
				h1 Propiedades del coseno
				.col-2
					.contenido
						p Usando la identidad trigonométrica de suma de ángulos $$ \cos(x+y)=\cos(x)\cos(y)-\sin(x)\sin(y)$$
						p puede mostrarse $$\cos(\pi-x)=-\cos(x)$$ $$\cos(\pi+x)=-\cos(x)$$ $$\cos(2\pi-x)=\cos(x)$$ 
						p Estás propiedades son útiles para la resolución de problemas del tipo $\cos(x)=a$

					figure
						#cosenoPropiedades
						script(src="cosenoPropiedades.js")
						figcaption Visualización de algunos puntos simétricos de la circunferencia trigonométrica desde donde pueden deducirse las propiedades listadas. Notar que cada punto pertenece a un cuadrante distinto del plano cartesiano. Los puntos en el II y III cuadrante son valores negativos del coseno.
						
			
			.diapo 
				h1 Ecuación $\cos(x)=a$ en la primera vuelta
				p Para los valores de $x\in [0,2\pi)$ se presentan las siguientes situaciones
				.col-igual-2 
					div
						h3 $ 0\leq a \lt 1 $ 
						p Existen dos soluciones. La solución en el primer cuadrante puede buscarse en la tabla de valores (o usando la calculadora). Entonces, \[ x_1= \text{de tabla o calculadora.} \] \[ x_2=2\pi-x_1 \]
					div
						h3 \( -1\lt a \lt 0 \)
						p Existen dos soluciones. Sea $x$ la solución del primer cuadrante de $\cos(x)=|a|$ (puede encontrarse en la tabla de valores o con calculadora).  Entonces, \[ x_1= \pi-x \] \[ x_2=\pi+x \]
					div
						h3 $a=\pm 1$
						p Existe una solución que puede obtenerse de la tabla.
					.comentario 
						h3 Nota
						ul 
							li Las soluciones propuestas pueden demostrarse con las propiedades del coseno.
							li En el caso $a\gt 1$ o en el caso $a\lt 1$ la ecucación no tiene solución.
							li Las soluciones anteriores corresponden a los $ x\in \mathbb [0,2\pi).$ En caso de buscar soluciones para \( x\in \mathbb R \) a las soluciones propuestas debe sumarse $2\pi k$ con $k\in \mathbb Z$ (vueltas enteras).

			.diapo
				h1 Propiedades del seno
				.col-2
					.contenido
						p Usando la identidad trigonométrica de suma de ángulos $$ \sin(x+y)=\cos(x)\sin(y)+\sin(x)\cos(y)$$
						p puede mostrarse $$\sin(\pi-x)=\sin(x)$$ $$\sin(\pi+x)=-\sin(x)$$ $$\sin(2\pi-x)=-\sin(x)$$
						p Estás propiedades son útiles para la resolución de problemas del tipo $\sin(x)=a$
					figure
						#senoPropiedades
						script(src="senoPropiedades.js")
						figcaption Visualización de algunos puntos simétricos de la circunferencia trigonométrica desde donde pueden deducirse las propiedades listadas. Notar que cada punto pertenece a un cuadrante distinto del plano cartesiano. Los puntos en el III y IV cuadrante son valores negativos de la función seno.

	
			.diapo 
				h1 Ecuación $\sin(x)=a$ en la primera vuelta
				p Para los valores de $x\in [0,2\pi)$ se presentan las siguientes situaciones
				.col-igual-2 
					div
						h3 $ 0\leq a \lt 1 $ 
						p Existen dos soluciones. La solución en el primer cuadrante puede buscarse en la tabla de valores (o usando la calculadora). Entonces, \[ x_1= \text{de tabla o calculadora.} \] \[ x_2=\pi-x_1 \]
					div
						h3 \( -1\lt a \lt 0 \)
						p Existen dos soluciones. Sea $x$ la solución del primer cuadrante de $\sin(x)=|a|$ (puede encontrarse en la tabla de valores o con calculadora).  Entonces, \[ x_1= \pi+x \] \[ x_2=2\pi-x \]
					div
						h3 $a=\pm 1$
						p Existe una solución que puede obtenerse de la tabla.
					.comentario 
						h3 Nota
						ul 
							li Las soluciones propuestas pueden demostrarse con las propiedades del seno.
							li En el caso $a\gt 1$ o en el caso $a\lt 1$ la ecucación no tiene solución.
							li Las soluciones anteriores corresponden a los $ x\in \mathbb [0,2\pi).$ En caso de buscar soluciones para \( x\in \mathbb R \) a las soluciones propuestas debe sumarse $2\pi k$ con $k\in \mathbb Z$ (vueltas enteras).


			.diapo
				h1 Gráficos de las funciones coseno y seno
				.col-igual-2
					.contenido
						h2 Función coseno
						figure
							#coseno
							script(src="coseno.js")
						h2 Función seno
						figure 
							#seno
							script(src="seno.js")
					.comentario
						h3 Nota
						ul 
							li Los gráficos de ambas funciones son similares, salvo por una traslación horizontal.
							li Los gráficos se repiten cada $2\pi.$
							li La imagen de ambas funciones es $[-1,1]$
							li Ambas funciones son continuas en los reales.


			.diapo
				h1 Amplitud, Imagen y Periodo
				.col-2
					.contenido
						p Dada la función de alguna de las siguientes formas $$f(x)=A\cdot \cos(B\cdot x +C)+D$$ $$f(x)=A\cdot \sin(B\cdot x +C)+D$$
						p Se definen:
						ul
							li Amplitud de oscilación: $|A|$
							li Imagen de la función: $Im f=[-|A|+D,|A|+D]$
							li Periodo de oscilación: $\frac{2\pi}{|B|}$
					figure
						#funcionAmplitudPeriodo
						script(src="funcionAmplitudPeriodo.js")
						figcaption Representación de la función $f(x)$ donde pueden verse la dependencia entre el gráfico y las constantes $A$, $B$, $C$ y $D$.


