@import "reseteo";

@font-face {
  font-family: "Oswald";
  src: url(font/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: "ubuntu";
  src: url(font/Ubuntu-Regular.ttf);
}

$fuente-0: "Oswald", sans-serif;
$fuente-1: "Ubuntu", sans-serif;
// $fuente-size-texto: 4.5vw;

$fuente-size-texto: 16px;
$fuente-size-texto-pantalla-grande: 1.4vw;
$fuente-size-comentario: 0.8em;
$margen-texto: 0.3em;

$color-0: #351330;
$color-1: #cc2a41;
$color-2: #64908a;
$color-3: #e8caa4;
$borde-radio: 3px;
$borde: $borde-radio solid $color-2;

html {
  font-size: $fuente-size-texto;
}

body {
  font-family: $fuente-1;
  color: $color-3;
  background-color: $color-0;
  width: 100vw;
  margin: auto;
}
.diapositivas {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.diapositivas .diapo {
  display: flex;
  min-height: 100vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20vh;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: start;
}

h1,
h2,
h3 {
  font-family: $fuente-0;
  text-transform: uppercase;
  font-weight: bold;
  color: $color-1;
  margin-bottom: $margen-texto;
  margin-top: $margen-texto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}

p,
ol,
ul {
  margin: $margen-texto $margen-texto;
  line-height: 1.4;
}

ul,
ol {
  padding-left: 1.5em;
}

// estilo para los comentarios, notas, extras
.comentario {
  position: relative;
  min-height: 4em;
  display: flex;
  align-items: center;
  font-size: $fuente-size-comentario;
  color: $color-2;
  max-width: 90%;
  height: fit-content;
  width: fit-content;
  margin: 2 * $margen-texto auto;
  padding: $margen-texto $margen-texto $margen-texto 2em + $margen-texto;
  border: $borde;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  text-align: justify;
  h3 {
    position: absolute;

    width: 1.5em;
    color: $color-2;
    left: 0;
    bottom: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg) translate(-1em + $margen-texto, $margen-texto);
    margin: 0;
  }
}

figure {
  margin: $margen-texto auto;
}
figure > * {
  margin-left: auto;
  margin-right: auto;
}
figure > figcaption {
  margin-top: $margen-texto;
  font-size: $fuente-size-comentario;
  text-align: justify;
  max-width: 400px;
  color: $color-2;
  line-height: 1.4;
}
figure img {
  display: block;
  width: 100%;
  max-width: 400px;
}
table {
  width: fit-content;
  border: $color-2 2px solid;
  text-align: center;
  th {
    color: $color-0;
    background-color: $color-2;
    padding: 0.2em 1em;
  }
  td {
    padding: 0.2em 1em;
    border: $color-2 solid 1px;
  }
}
@media (min-width: 680px) {
  .col-2 {
    display: grid;
    grid-template-columns: minmax(360px, 2fr) minmax(320px, 1fr);
    align-items: center;
  }
  .col-igual-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: $fuente-size-texto-pantalla-grande;
  }
}
