doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Movimiento Rectilineo Uniformemente Variado
		link(rel="stylesheet", href="/style/diapositivas.css")
	body 
		.diapositivas 
			.diapo 
				h1 Aceleración $ $
				.col-igual-2
					div
						ul 
							li Es la variación de la velocidad de movimiento.
							li La velocidad puede cambiar de dos maneras.
								ol 
									li Cuando cambia la rapidez del movimiento (Ej: Un auto que esta subiendo su velocidad o esta frenando).
									li Cuando cambia la dirección de movimiento (Ej: Cuando un auto dobla en una curva o una esquina).
							li Es una magnitud física del tipo vectorial.
							li Unidades: \(\frac{m}{s^2}, \frac{cm}{s^2} \)

						.comentario 
							h3 Nota 
							p En física la palabra aceleración se usa tanto para frenar como para acelerar (En ambos casos se esta cambiando la velocidad de movimiento.)
					.col-igual-2 
						figure 
							img(src="frenado.gif", alt="Frenado", style="width:90%")
						figure 
							img(src="rusa.jpg", alt="Bucle de montaña rusa", style="width:90%")


			.diapo 
				h1 Movimiento Rectilineo Uniformemente Variado (MRUV)
				ul 
					li Es un movimiento en linea recta.
					li La velocidad cambia todo el tiempo.
					li Hay aceleración es constante.
				.col-2
					div
						h2 Ecuaciones horarias de movimiento: 
						p \[ v=a\cdot t +v_i \]
						p \[ x=\frac 1 2 \cdot a \cdot t^2 + v_i \cdot t + x_i \]
					.comentario 
						h3 Nota 
						ul 
							li \( v \) velocidad final al tiempo \( t. \)
							li \( a \) aceleración.
							li \( t \) tiempo de duracion del movimiento.
							li \( v_i \) velocidad inicial.
							li \( x \) posición final al tiempo \( t. \)
							li \( x_i \) posición inicial.