doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Diapositivas para las clases de Análisis Matemático
		link(rel="stylesheet", href="/style/diapositivas.css")
	body 
		.diapositivas
			.diapo
				h1 Diapositivas para las clases de análisis matemático (66) del CBC-UBA 
				ol 
					li: a(href="./sucesiones") Sucesiones y Límite de Sucesiones 
					li: a(href="./limite_funciones") Límite de funciones 
					li: a(href="./continuidad") Continuidad 
					li: a(href="./recta_tangente_y_derivada") Recta tangente y derivada
					li: a(href="./teorema_valor_medio") Teoremas de valores medios y sus consecuencias
					li: a(href="./polinomio_de_taylor") Polinomio de Taylor
					li: a(href="./integrales_definicion") Definición de integrales y sus propiedades
					li: a(href="./integrales_aplicacion") Aplicación de integrales
					li: a(href="./series") Series numéricas y de potencia